%% -*- erlang -*-
{sub_dirs, ["rel", "apps/erlblog"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors]}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps, [
        {cowboy, ".*", {git, "https://github.com/extend/cowboy", {tag, "0.8.3"}}},
        {riak_core, ".*", {git, "git://github.com/basho/riak_core", {tag, "1.3.2"}}},
        {mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes", {tag, "1.0"}}}
       ]}.
