%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8093"}.
{handoff_port,          "8103"}.

%%
%% etc/vm.args
%%
{node,                  "erlblog3@127.0.0.1"}.
{cookie,                "erlblog"}.


{cowboy_port, 9093}.
{cowboy_listeners, 10}.
